<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <h3>Welcome </h3>
        <div class="">
            <ul class="navbar-nav d-flex flex-row">
                <li class="nav-item me-3">
                    <a class="nav-link" asp-action="Weddings" asp-controller="Wedding">Home</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" asp-action="NewWedding" asp-controller="Wedding">Plan a Wedding</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" asp-action="Logout" asp-controller="Home">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>