<div class="text-center">
    <div class="container mt-3">
        <h1>Check out our roster of chefs</h1>
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="column">Name</th>
                    <th scope="column">Age</th>
                    <th scope="column"># of Dishes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Chef chef in Model)
                {
                    <tr>
                        <td>@chef.FirstName @chef.LastName</td>
                        <td>@(DateTime.Today.Year - chef.DateOfBirth.Year)</td>
                        <td>@chef.Dishes.Count</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
