@model List<Category>

<div class="text-center" style="border: 5px solid;">
  <div class="container">
    <h1 class="text-center">All Categories</h1>
    <table class="table">
      <tbody>
        @foreach (Category category in Model)
        {
          <tr>
            <td><a href="categories/@category.CategoryId">@category.Name</a></td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

