@model Category

<div class="container" style="border: 5px solid;">
    <h1 class="text-center">New Category</h1>

  <form asp-action="CreateCategory" asp-controller="Category" method="post">
    <div class="container">
      <div class="row mb-3 mt-3">
        <label asp-for="Name" class="col-form-label">Name:</label>
        <div>
          <input class="form-control" asp-for="Name">
          <span class="text-danger" asp-validation-for="Name"></span>
        </div>
      </div>

      <div class="mb-5">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </div>
  </form>
  
</div>