@model Survey
<div class="text-center">
    <h1 class="text-decoration-underline">Submitted Info</h1>
    <h3>Your Name: @Model.Name</h3>
    <h3>Your Location: @Model.Location</h3>
    <h3>Your Favorite Language: @Model.Language</h3>
    <h3>Comments (Optional): @Model.Comments</h3>
    <a href="/" class="btn btn-primary rounded-pill">Go to Homepage</a>
</div>

